{% extends "layout.html" %}

{% block pagetitle %} Homepage {% endblock %}

{% block content %}
<section class="hero">
    <div class="slider" data-slick='{"slidesToShow":1, "slidesToScroll":1, "arrows": true, "fade": true}'>
        <div class="slide-item" style="background-image:url(../images/placeholders/hero-image.jpg);">
            <div class="slide-text">
            </div>
        </div>
        <div class="slide-item">
            <div class="slide-text">
                <h3 class="title"></h3>
                <p></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}          