{% extends "../templates/layout.html" %}
{% block pagetitle %} One Column Template {% endblock %}
{% block content %}
<div class="hero">
    <div class="slider" data-slick='{"slidesToShow":1, "slidesToScroll":1, "arrows": true}'>
        <div class="slide-item" style="background-image:url(../images/placeholders/hero-image-2.jpg);">
            <div class="slide-text">
                <h3 class="title">UCTV</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Sed a ipsum consectetur, efficitur uma sed, lobortis ante</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<section class="page-meta">
                <h2 class="visuallyhidden">Page Tools</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="breadcrumbs">
                                <li><a href="../pages/home.html">Home</a></li>
                                <li><span>One Column Template</span></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="share-tools">
                                <li><span>SHARE:</span></li>
                                <li class="twitter"><a href="#"><span class="visuallyhidden">Twitter</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-twitter"></use></svg></a></li>
                                <li class="facebook"><a href="#"><span class="visuallyhidden">Facebook</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-facebook"></use></svg></a></li>
                                <li class="linkedin"><a href="#"><span class="visuallyhidden">LinkedIn</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-linkedin"></use></svg></a></li>
                                <li class="google"><a href="#"><span class="visuallyhidden">Google Plus</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-google"></use></svg></a></li>
                                <li><a href="#"><span class="visuallyhidden">Email a Friend</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-mail"></use></svg></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <h2>UCTV</h2>
            <p>UCTV broadcasts educational and enrichment programming from the campuses, national laboratories, and affiliated institutions of the University of California. UCTV delivers science, health and medicine, public affairs, humanities, and the arts to a general audience, as well as specialized programming for health care professionals and teachers. UCTV is available to over 4 million homes on cable television, and worldwide via the web, YouTube and iTunes.</p>
            <h2>UCSD-TV</h2>
            <p>UCSD-TV, the only broadcast television station operated by the University of California, is an Emmy Award winning non-commercial station which extends the resources of the university to the greater San Diego community and partners extensively with regional civic, cultural and arts institutions in programming. UCSD-TV broadcasts on UHF Channel 35, Cox Communications, and Time Warner Cable. Programs from UCSD-TV and other University of California campuses are broadcast nationwide on UCTV and on demand.</p>
		</div>
	</div>
</div>
{% endblock %}          