{% extends "layout.html" %}

{% block pagetitle %} Three Column Template {% endblock %}
{% block content %}

<div class="hero">
    <div class="slider" data-slick='{"slidesToShow":1, "slidesToScroll":1, "arrows": true}'>
        <div class="slide-item" style="background-image:url(../images/placeholders/hero-image.jpg);">
            <div class="slide-text">
                <h3 class="title">Custom Training Programs</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Sed a ipsum consectetur, efficitur uma sed, lobortis ante</p>
            </div>
        </div>
    </div>
</div>
<section class="page-meta">
    <h2 class="visuallyhidden">Page Tools</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="breadcrumbs">
                    <li><a href="../pages/home.html">Home</a></li>
                    <li><span>Three Column Template</span></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="share-tools">
                    <span>SHARE:</span>
                    <a href="#">Twitter</a>
                    <a href="#">Facebook</a>
                    <a href="#">Linkedin</a>
                    <a href="#">Google</a>
                    <a href="#">Email</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="three-column-layout">
            <div class="aside">
                <img src="http://placehold.it/300x300/" alt="300x300">
            </div>
            <div class="main">
                <p>Bring UCSD to Your WorkplaceJoin San Diego’s most innovative organizations in receiving customized on-site training from UC San Diego Extension. On-site education is the quickest, most reliable way to infuse your organization with concise, up-to-date information on timely trends and best practices.</p>
                <p>The results are more advanced skills, better problem solving, and revitalized productivity. Employees also express greater job satisfaction by gaining valuable work knowledge while earning continuing education credits.</p>
                <p>Benefits of Custom Training</p>
            </div>
            <div class="aside">
                <img src="http://placehold.it/261x300" alt="261x300">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="two-column-layout">
            <div class="main">
                <h3>UC Approved:</h3>
                <p>Coursework reflects the high academic standards of UCSD — a leader in continuing education.</p>
                <h3>Flexible & Convenient:</h3>
                <p>Courses are delivered to your employees, at your location, on your schedule. Some may even be delivered online.</p>
                <h3>Customized Content:</h3>
                <p>Each class is designed to match the size of your staff, the stage of your organization’s growth, and your particular industry.</p>
                <h3>Effortless:</h3>
                <p>Our goal is to make custom training easy for you. By listening to your needs and relying on our attentive staff, we can respond to you quickly and easily.</p>
                <h3>Applicable Knowledge:</h3>
                <p>Learn the skills and information that drive today’s business and technology trends. Better lead people, processes and projects.</p>
                <h3>Top Instructors:</h3>
                <p>Choose from a large cadre of faculty and industry experts who bring real-world knowledge to the table.</p>
                <h3>Cost Effective:</h3>
                <p>Custom training is competitively priced to fit your budget, eliminates travel time, and can directly impact the productivity of the organization.</p>
            </div>
            <div class="aside"></div>
        </div>
    </div>
</div>

{% endblock %}          