{% extends "layout.html" %}

{% block pagetitle %} Two Column Alternate Template {% endblock %}
{% block content %}

<div class="hero">
    <div class="slider" data-slick='{"slidesToShow":1, "slidesToScroll":1, "arrows": true}'>
        <div class="slide-item" style="background-image:url(../images/placeholders/hero-image-2.jpg);">
            <div class="slide-text">
                <h3 class="title">Lectures &amp; Events</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Sed a ipsum consectetur, efficitur uma sed, lobortis ante</p>
            </div>
        </div>
    </div>
</div>
<section class="page-meta">
    <h2 class="visuallyhidden">Page Tools</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="breadcrumbs">
                    <li><a href="../pages/home.html">Home</a></li>
                    <li><span>Two Column Template</span></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="share-tools">
                    <li><span>SHARE:</span></li>
                    <li class="twitter"><a href="#"><span class="visuallyhidden">Twitter</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-twitter"></use></svg></a></li>
                    <li class="facebook"><a href="#"><span class="visuallyhidden">Facebook</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-facebook"></use></svg></a></li>
                    <li class="linkedin"><a href="#"><span class="visuallyhidden">LinkedIn</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-linkedin"></use></svg></a></li>
                    <li class="google"><a href="#"><span class="visuallyhidden">Google Plus</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-google"></use></svg></a></li>
                    <li><a href="#"><span class="visuallyhidden">Email a Friend</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-mail"></use></svg></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="hero-heading">
            <h1 class="title">Lectures &amp; Events</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="two-column-layout">
            <div class="main">
                <div class="carousel-slider" data-slick='{"slidesToShow":1, "slidesToScroll": 1, "arrows": false, "dots": true, "autoplay": true}'>
                    <div class="slide-item" style="background-image:url(../images/placeholders/carousel-image.jpg);">
                        <div class="slide-text">
                            <p>Fulfilling the Promise of a Better Tomorrow, Together</p>
                            <a href="#" class="button small">Read Story</a>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url(../images/placeholders/carousel-image.jpg);">
                        <div class="slide-text">
                            <p>Fulfilling the Promise of a Better Tomorrow, Together</p>
                            <a href="#" class="button small">Read Story</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside">
                <div class="callout"><img src="http://placehold.it/300x340&text=PromoTile" alt=""></div>
                <div class="social-connected">
                    <h3>Stay Connected</h3>
                    <ul>
                        <li class="linkedin">
                            <a href="#">
                                <svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-linkedin"></use></svg>
                            </a>
                        </li>
                        <li class="facebook">
                            <a href="#">
                                <svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-facebook"></use></svg>
                            </a>
                        </li>
                        <li class="youtube">
                            <a href="#">
                                <svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-youtube"></use></svg>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#">
                                <svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-twitter"></use></svg>
                            </a>
                        </li>
                        <li class="google">
                            <a href="#">
                                <svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-google"></use></svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="callout contact">
                    <div class="content">
                        <strong>Juanita Lahaye</strong><br/>
                        <a href="#">jlahaye@ucsd.edu</a><br/>
                        <div class="title-margin">(858) 822-2026</div>
                        <a href="#" class="button tiny">Media Room</a>
                    </div>
                    <div class="media"><img src="http://placehold.it/102x75" alt=""></div>
                </div>
                <div class="signup">
                    <div class="font-secondary fontweight-semibold smallest title-margin gray-blue">CONNECT</div>
                    <p>Sign up to receive jazz Camp updates via email.</p>
                    <div class="controls"><input type="text" placeholder="Email Address"><button class="btn" type="submit">SIGN UP</button></div>
                    <a href="#" class="like-us">
                        <svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-thumbs-up"></use></svg>
                        Like Us on Facebook
                    </a>
                </div>
            </div>
        </div>
        <div class="hero-heading">
            <h2 class="title">Other Events</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet velit, tempora omnis maiores illo dolores numquam minima, ratione ut reprehenderit ea nulla laborum error? Placeat harum, nisi. Laborum, quisquam, quas?</p>
        </div>
        <div class="two-column-layout">
            <div class="main">
                <div class="carousel-slider" data-slick='{"slidesToShow":1, "slidesToScroll": 1, "arrows": false, "dots": true, "autoplay": true}'>
                    <div class="slide-item" style="background-image:url(../images/placeholders/carousel-image.jpg);">
                        <div class="slide-text">
                            <p>Fulfilling the Promise of a Better Tomorrow, Together</p>
                            <a href="#" class="button small">Read Story</a>
                        </div>
                    </div>
                    <div class="slide-item" style="background-image:url(../images/placeholders/carousel-image.jpg);">
                        <div class="slide-text">
                            <p>Fulfilling the Promise of a Better Tomorrow, Together</p>
                            <a href="#" class="button small">Read Story</a>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ipsam numquam tempora amet, ut, ex dolorum consectetur, odit iure quidem libero aspernatur. Facilis corporis, consequatur voluptas sunt molestiae saepe dolores.</p>
            </div>
            <div class="aside">
                <div class="callout"><img src="http://placehold.it/300x170&text=HalfHeight" alt=""></div>
                <div class="callout"><img src="http://placehold.it/300x170&text=HalfHeight" alt=""></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}          