{% extends "layout.html" %}

{% block pagetitle %} Two Column Template {% endblock %}
{% block content %}

<div class="hero">
    <div class="slider" data-slick='{"slidesToShow":1, "slidesToScroll":1, "arrows": true}'>
        <div class="slide-item" style="background-image:url(../images/placeholders/hero-image.jpg);">
            <div class="slide-text">
                <h3 class="title">Teach For Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Sed a ipsum consectetur, efficitur uma sed, lobortis ante</p>
            </div>
        </div>
    </div>
</div>
<section class="page-meta">
    <h2 class="visuallyhidden">Page Tools</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="breadcrumbs">
                    <li><a href="../pages/home.html">Home</a></li>
                    <li><span>Two Column Template</span></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="share-tools">
                    <li><span>SHARE:</span></li>
                    <li class="twitter"><a href="#"><span class="visuallyhidden">Twitter</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-twitter"></use></svg></a></li>
                    <li class="facebook"><a href="#"><span class="visuallyhidden">Facebook</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-facebook"></use></svg></a></li>
                    <li class="linkedin"><a href="#"><span class="visuallyhidden">LinkedIn</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-linkedin"></use></svg></a></li>
                    <li class="google"><a href="#"><span class="visuallyhidden">Google Plus</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-google"></use></svg></a></li>
                    <li><a href="#"><span class="visuallyhidden">Email a Friend</span><svg class="icon" aria-hidden="true" focusable="false" role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#icon-mail"></use></svg></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="hero-heading">
            <h1 class="title">Teaching at Extension</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit doloremque dolorum, placeat delectus tenetur magni quod eveniet odio, aliquid consequuntur, eos quia aut fugit eius cum, recusandae illo porro.</p>
        </div>
        <div class="two-column-layout">
            <div class="main">
                <p>Interested in sharing your expertise with others? UC San Diego Extension is always seeking instructors with strong communication skills and extensive professional experience in their field.</p>
                <p>Extension runs a quarterly schedule of personal enrichment and continuing education classes in a variety of formats, from face-to-face evening sessions, weekend workshops to fully online. Our mission is to serve the critical lifelong knowledge and skill development needs of individuals, organizations, and the community. To accomplish this, we offer over 4600 classes per year and enrollment averages more than 50,000 students annually.</p>
                <p>If you feel that you would be a good fit and would like to join our community of instructors, we invite you to follow the steps below to submit your application:</p>
                <ol>
                    <li>Browse our Areas of STudy (listed to the right) and familiarize yourself with the courses and programs we offer.</li>
                    <li>Explore our instructor opportunities. If you do not see a position listed for courses we offer, please contact the academic department directly.</li>
                    <li>Before applying to a specific opportunity, log in or create an account.</li>
                    <li>Complete and submit application for consideration.</li>
                </ol>
                
            </div>
            <div class="aside">
                <div class="callout">
                    <h3>Video</h3>
                    <img src="http://placehold.it/300x300" alt="">
                    <div class="content"><h3 class="title"><a href="#">Video Title</a></h3></div>
                </div>
                <div class="callout">
                    <h3>Get Inspired</h3>
                    <img src="http://placehold.it/300x300" alt="">
                    <div class="content">
                        <blockquote>"Lorem ipsum dolo sit amet, consetetur adipiscing elit aean bibendum."</blockquote>
                    </div>
                    <div class="content overlay">
                        - Jessica, Recently completed an <a href="#">Audting Course</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}          