<!-- navigation.nunjucks -->
<nav class="main-nav nav-bar" role="navigation">
    <a href="#" class="toggle-menu">
        <span><span class="visuallyhidden">Toggle Menu</span></span>
    </a>
    <ul class="cm-menu">
        <li>
            <a href="#"><span>Link 1</span></a>
            <ul>
                <li><a href="#"><span>Sub Link 1</span></a>
                <li><a href="#"><span>Sub Link 2</span></a>
                <li><a href="#"><span>Sub Link 3</span></a>
                <li><a href="#"><span>Sub Link 4</span></a>
            </ul>
        </li>
        <li>
            <a href="#"><span>Link 2</span></a>
        </li>
        <li>
            <a href="#"><span>Link 3</span></a>
            <ul>
                <li><a href="#"><span>Sub Link 1</span></a>
                <li><a href="#"><span>Sub Link 2</span></a>
                <li><a href="#"><span>Sub Link 3</span></a>
                <li><a href="#"><span>Sub Link 4</span></a>
            </ul>
        </li>
        <li>
            <a href="#"><span>Link 4</span></a>
            <ul>
                <li><a href="#"><span>Sub Link 1</span></a>
                <li><a href="#"><span>Sub Link 2</span></a>
                <li><a href="#"><span>Sub Link 3</span></a>
                <li><a href="#"><span>Sub Link 4</span></a>
            </ul>
        </li>
        <li>
            <a href="#"><span>Link 5</span></a>
        </li>
    </ul>
</nav>