.carousel-slider {
    .slide-item {
        background-position: center center;
        background-repeat:no-repeat;
        background-size:cover;
        transition: all 0.3s ease-in-out;
        .slide-text {
            margin:5%;
            p {
                margin:0; 
                @include x-rem(font-size, 28px);
                font-weight:$fontWeight-light;
                color:#fff; 
            }
        }
    }
    .slick-dots {
        bottom:0;
        li {
            button {background:#fff;}
            &.slick-active button {border-color:#fff;}
        }
    }
    @media(min-width:$bp-m) {
        .slide-item .slide-text {
            margin:11% 60% 5% 5%;
        }
    }
}