/* ================================================================
   Boilerplate - Base Styles 
   ================================================================ */

html, button, input, select, textarea { color:$color-base; }
body { font-family:$font-primary; line-height:1.4; overflow-y:scroll; background:$body-bg }

::-moz-selection { background:$color-primary; color:$color-invert; text-shadow:none; }
::selection { background:$color-primary; color:$color-invert; text-shadow:none; }

*, *:before, *:after { box-sizing:border-box; }

hr { display:block; margin:1em 0; padding:0; height:1px; border:0; border-top:1px solid #ccc;  }
img { vertical-align:middle; width:auto; height:auto; max-width:100%; }
.image-fluid, .image-fluid img { max-width:none; width:100%; height:auto; }
.image-fixed, .image-fixed img { max-width:none; }

fieldset { border:0; margin:0; padding:0; }
textarea { resize:vertical; }

.hidden { display:none !important; visibility: hidden; }
.visuallyhidden, .visually-hidden, .visuallyHidden { position:absolute; overflow:hidden; clip:rect(0 0 0 0); margin:-1px; padding:0; border:0; width:1px; height:1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { position:static; overflow:visible; clip:auto; margin:0; width:auto; height:auto; }
.invisible { visibility:hidden; }

.clearfix {
	&:before, &:after { content:" "; display:table; }
	&:after { clear:both; }
}

.align-center { text-align:center; }
.align-right { text-align:right; }
.align-left { text-align:left; }

.breakforprint { page-break-after:always; }

.float-right { float:right }
.float-left { float:left }

table {
	margin:1em 0;
	border:1px solid #ccc;
}

td {
	padding:0.2em 0.4em;
	border:1px solid #ccc;
	background:hsl(0, 0%, 90%);
}

tr:nth-child(2n) td { background:#fff; }


body span.gc-cs-link { // ignores the google voice plugin color
	color:inherit; 
	&:hover { text-decoration:none; }
}

.click-user *:focus, .click-user *:active { outline:0; }

.scroll-cover {
    position: fixed; top: 0; left: 0; bottom: 0; right: 0;
    pointer-events: auto !important;
    z-index: 10000;
}

.svg-legend {
    position: absolute; top: -9999em; left: -9999em;
    width: 0; height: 0;
    overflow:hidden;
}

svg.icon {
	display:inline-block; vertical-align: middle; 
	width:24px; height:24px; 
	transition:all 0.3s ease-in-out; 
}




/* ================================================================
   Typography Styles
   ================================================================ */


h1, h2, h3 {  margin:0 0 $typography-margin-bottom / 2; }
h1, h2, h3, h4, h5, h6 {font-family: $font-primary; font-weight:$fontWeight-lightest; color:#000;}

h1 { @include x-rem(font-size, 46px);}
h2 { @include x-rem(font-size, 42px);}
h3 { @include x-rem(font-size, 30px);}
h4 { @include x-rem(font-size, 24px);}
h5 { @include x-rem(font-size, 20px);}
h6 { @include x-rem(font-size, 16px);}

a {
	color:$color-primary;
	text-decoration:none;
    transition:all 0.3s ease-in-out;
	&:hover, &:focus { text-decoration:underline; }
}
// a[target="_blank"] { cursor:alias }

p { margin:0 0 $typography-margin-bottom; @include x-rem(font-size, 15px); color:#6f6f6f;}

ul, ol {
    @include x-rem(font-size, 15px);
    line-height:24px;
    color:#6f6f6f;
}

// Adds custom list styles to content
.sfContentBlock {
	ul, ol {
		padding-left:1.5em;
		margin:0 0 $typography-margin-bottom;
	}	
}


// Very simple blockquote styling
blockquote {
	margin:1em 1.5em; padding-left:1.5em;
	border-left:5px solid hsl(0, 0%, 85%);
}
.color-primary {color:$color-primary !important;}
.color-secondary {color:$color-secondary !important;}

.smallest { font-size:0.8em; }
.smaller { font-size:0.9em; }
.larger { font-size:1.1em; }
.largest { font-size:1.2em; }

.bold { font-weight:bold; }
.italic { font-style:italic; }
.strike { text-decoration:line-through; }

.fontweight-semibold {font-weight:500;}
.fontweight-light {font-weight:300;}
.font-primary {font-family: $font-primary;}
.font-secondary {font-family: $font-secondary;}

.gray-blue {color:#bac6cb !important;}

.nowrap { white-space:nowrap; }
.important { color:red; font-weight:bold; text-transform:uppercase; }

.title-margin {margin-bottom:$typography-margin-bottom / 2;}

.button, .btn {
	display:inline-block;
    margin:0; padding: 15px 20px;
    border:0; background:#103258;
    font-family: $font-secondary;
    @include x-rem(font-size, 15px);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    color:#fff;
    transition:all 0.3s ease-in-out;
    &.tiny {@include x-rem(font-size, 10px); padding:6px 30px;}
    &.small {@include x-rem(font-size, 12px);}
    &:hover, &:focus {background:#124E84; text-decoration: none;}
    
    &.alternate {
        padding:12px 20px;
        border:2px solid #fff;
        background:transparent;
        font-weight:$fontWeight-semibold;
        &:hover, &:focus {background:$color-secondary; color:#103259; border-color:transparent;}
    }
}	

.back {
	@extend .button-small !optional;
	text-transform: capitalize;

	&:before {
		@extend .iconfont-chevron-left !optional;
	}
}		

.more {
	@extend .button-small !optional;
	text-transform:capitalize;

	&:after {
		@extend .iconfont-chevron-right !optional;
	}
}

a.back-to-top {
    position:relative;
    padding-left:20px;
    @include x-rem(font-size, 13px);
    color:#fff;
    &:before {
        content:'';
        position:absolute; top:50%; left:0;
        width:12px; height:12px;
        background:$color-secondary;
        border-radius:50%;
        transform:translateY(-50%);
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%; left: 0;
        width: .50em; height: .50em;
        border-top: .2em solid $color-primary;
        border-left: .2em solid $color-primary;
        border-radius:5px;
        font-family: $font-secondary;
        transform: rotate(45deg) translateY(-50%);
    }
}

.two-column-layout {
    & > div {padding:0 $grid-gutter; margin-bottom:1em; transition:all 0.3s ease-in-out;}
    @media(min-width:$bp-m) {
        display:table; width:100%;
        table-layout: fixed;
        & > div {
            display:table-cell;
            vertical-align: top;
            &.aside {width:25%;}
            &.main {width:75%;}
        }  
    }
}

.three-column-layout {
    & > div {padding:0 $grid-gutter ; margin-bottom:1em; transition:all 0.3s ease-in-out;}
    @media(min-width:$bp-m) {
        display:table; width:100%;
        table-layout: fixed;
        & > div {
            display:table-cell;
            vertical-align: top;
            &.aside {width:25%;}
            &.main {width:50%;}
        }  
    }
}

.social-connected {
    margin-bottom:1.5em;
    padding:20px;
    border:1px solid #dddddd;
    background:#efefef;
    
    ul {
        margin:0; padding:0;
        list-style-type: none;
        
        li {
            display:inline-block;
            vertical-align: middle;
            margin-right:5px;
            &:last-child {margin-right:0;}
            a {
                display:block;
                text-decoration: none;
            }
            &.facebook a:hover svg,
            &.facebook a:focus svg {fill:#3b5998}
            
            &.twitter a:hover svg,
            &.twitter a:focus svg { fill:#00aced }
            
            &.linkedin a:hover svg,
            &.linkedin a:focus svg { fill:#007bb6; }
            
            &.google a:hover svg,
            &.google a:focus svg { fill:#dd4b39; }
            
            &.youtube a:hover svg,
            &.youtube a:focus svg { fill:#E62117; }
        }
        
    }
}

.signup {
    margin-bottom:1em; padding:20px;
    background:#124d83;
    color:#fff;
    p {color:#fff;}
    .controls {
        position:relative;
        margin-bottom:.5em;
        background:#7A9BBA;
        color:#fff;
        input[type="text"] {
            height:35px; width:100%;
            padding:0 85px 0 10px;
            border:0;
            background:#7a9bb9;
            box-shadow: none;
            @include x-rem(font-size, 14px);
            color:#fff;
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &::-webkit-input-placeholder {color:#fff; font-style: italic;}
        }
        .btn {
            position:absolute;
            top:0; right:0;
            z-index: 10;
            height:100%;
            padding:0 12px;
            border:2px solid #fff;
            background:#124d83;
            @include x-rem(font-size, 12px);
            &:hover, &:focus {background:#7a9bb9;}
        }
    }
}

.like-us {
    position:relative;
    display:inline-block;
    padding-right:10px;
    @include x-rem(font-size, 14px);
    text-decoration: none;
    color:#fff;
    svg {fill:#fff; vertical-align: text-bottom;}
    &:after {
        content: '';
        position: absolute;
        top: 60%;
        right: 0;
        width: .5em;
        height: .5em;
        border-right: .15em solid #fff;
        border-top: .15em solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition:all 0.3s ease-in-out;
    }
    &:hover, &:focus {
        text-decoration: none;
        &:after {right:-5px;}
    }
}

.hinted-input {
    position:relative;
    overflow: hidden;
    input {
        ~ .hint {
            position: absolute;
            top: 50%; left: 10px;
            margin: 0;
            opacity: 1;
            font-size: 16px;
            font-weight: 300;
            white-space: nowrap;
            color: #3f3f3f;
            transform:translateY(-50%);
            transition: all 0.3s ease-in-out; 
            cursor: text;
        }
        &:focus ~ .hint,
        &[required]:valid ~ .hint,
        &.valid ~ .hint,
        &.hint ~ .hint,
        &:-webkit-autofill ~ .hint {opacity:0; top:0;}
    }
    input.hint ~ .hint {opacity:0; top:0;}
}