/* ================================================================
   Boilerplate - Base Styles 
   ================================================================ */

html, button, input, select, textarea { color:$color-base; }
body { font-family:$font-primary; line-height:1.4; overflow-y:scroll; background:$body-bg }

::-moz-selection { background:$color-primary; color:$color-invert; text-shadow:none; }
::selection { background:$color-primary; color:$color-invert; text-shadow:none; }

*, *:before, *:after { box-sizing:border-box; }

hr { display:block; margin:1em 0; padding:0; height:1px; border:0; border-top:1px solid #ccc;  }
img { vertical-align:middle; width:auto; height:auto; max-width:100%; }
.image-fluid, .image-fluid img { max-width:none; width:100%; height:auto; }
.image-fixed, .image-fixed img { max-width:none; }

fieldset { border:0; margin:0; padding:0; }
textarea { resize:vertical; }

.hidden { display:none !important; visibility: hidden; }
.visuallyhidden, .visually-hidden, .visuallyHidden { position:absolute; overflow:hidden; clip:rect(0 0 0 0); margin:-1px; padding:0; border:0; width:1px; height:1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { position:static; overflow:visible; clip:auto; margin:0; width:auto; height:auto; }
.invisible { visibility:hidden; }

.clearfix {
	&:before, &:after { content:" "; display:table; }
	&:after { clear:both; }
}

.align-center { text-align:center; }
.align-right { text-align:right; }
.align-left { text-align:left; }

.breakforprint { page-break-after:always; }

.float-right { float:right }
.float-left { float:left }

table {
	margin:1em 0;
	border:1px solid #ccc;
}

td {
	padding:0.2em 0.4em;
	border:1px solid #ccc;
	background:hsl(0, 0%, 90%);
}

tr:nth-child(2n) td { background:#fff; }


body span.gc-cs-link { // ignores the google voice plugin color
	color:inherit; 
	&:hover { text-decoration:none; }
}

.click-user *:focus, .click-user *:active { outline:0; }

.scroll-cover {
    position: fixed; top: 0; left: 0; bottom: 0; right: 0;
    pointer-events: auto !important;
    z-index: 10000;
}

.svg-legend {
    position: absolute; top: -9999em; left: -9999em;
    width: 0; height: 0;
    overflow:hidden;
}

svg.icon {
	display:inline-block; vertical-align: middle; 
	width:24px; height:24px; 
	transition:all 0.3s ease-in-out; 
}

.sf-Code {
	pre {
		color: #666;
	}
}



/* ================================================================
   Typography Styles
   ================================================================ */


h1, h2, h3 { 
	margin:0 0 $typography-margin-bottom;
	font-family:$font-heading;
}

h1 { @include x-rem(font-size, 37px); }
h2 { @include x-rem(font-size, 20px); }
h3 { @include x-rem(font-size, 18px); }
h4 { font-family:$font-primary }

a {
	color:$color-primary;
	text-decoration:none;
    
	&:hover, &:focus { text-decoration:underline; }
}
// a[target="_blank"] { cursor:alias }

p { margin:0 0 $typography-margin-bottom; }


// Adds custom list styles to content
.sfContentBlock {
	ul, ol {
		padding-left:1.5em;
		margin:0 0 $typography-margin-bottom;
	}	
}


// Very simple blockquote styling
blockquote {
	margin:1em 1.5em; padding-left:1.5em;
	border-left:5px solid hsl(0, 0%, 85%);
}

.smallest { font-size:0.8em; }
.smaller { font-size:0.9em; }
.larger { font-size:1.1em; }
.largest { font-size:1.2em; }

.bold { font-weight:bold; }
.italic { font-style:italic; }
.strike { text-decoration:line-through; }

.nowrap { white-space:nowrap; }
.important { color:red; font-weight:bold; text-transform:uppercase; }

.button, .btn {
	display:inline-block;
	padding:0.47em 1.2em;
	border:0;
	font-family:$font-primary; font-weight:$fontWeight-bold; color:$color-invert;
	text-decoration:none; text-transform:uppercase; text-align:center;
	background:$color-primary;
	transition:all 0.2s ease-out;

	&:hover, &:focus {
		text-decoration:none;
		background:#646464;
	}
}	

.back {
	@extend .button-small !optional;
	text-transform: capitalize;

	&:before {
		@extend .iconfont-chevron-left !optional;
	}
}		

.more {
	@extend .button-small !optional;
	text-transform:capitalize;

	&:after {
		@extend .iconfont-chevron-right !optional;
	}
}