/* ================================================================
   Header
   ================================================================ */

#site-header {
    .logo { margin-bottom:0; }
}





/* ================================================================
   Main
   ================================================================ */

#site-main { }





/* ================================================================
   Rail
   ================================================================ */

.side-rail {
    
}





/* ================================================================
   Footer
   ================================================================ */

#site-footer {
    
}





/* ================================================================
   Content Box
   ================================================================ */

.content-box { 
  padding:20px;
  background:$color-primary;

  &.alt { background:$color-secondary; }
}